body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
  }

  #background {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f8e360;
    z-index: -1000;
}

/* ----- NAV ----- */
button {
    opacity: 0.6;
    background-color: transparent;
    position: fixed;
    z-index: 200;
    top: 24px;
    left: 24px;
    border: none;
    width: 36px;
    height: 30px;
    outline: none;
    transition: opacity 0.2s ease-out;
  }
  
  button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: auto;
    width: 100%;
    background: linear-gradient(to bottom, #f8e360, #f8e360 20%, transparent 20%, transparent 40%, #f8e360 40%, #f8e360 60%, transparent 60%, transparent 80%, #f8e360 80%, #f8e360 100%);
    transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
  }
  
  button:after {
    opacity: 0;
    content: "×";
    color: white;
    position: absolute;
    top: 16px;
    left: -4px;
    font-family: Arial, sans-serif;
    font-size: 76px;
    line-height: 0;
    transition: opacity 0.4s ease-out;
  }
  
  button:active {
    transform: translateY(2px);
  }
  
  button:hover {
    opacity: 1;
  }
  
  .open button {
    opacity: 1;
  }
  
  .open button:before {
    opacity: 0;
    width: 0;
  }
  
  .open button:after {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(360deg);
    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
  }
  
  nav {
    z-index: 100;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
  }
  
  nav:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgb(248, 227, 96);
    background: linear-gradient(90deg, rgba(248, 227, 96, 1) 50%, rgba(255, 255, 255, 1) 50%);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
    overflow: hidden;
  }
  
  .open nav {
    top: 0;
  }
  
  .open nav:before {
    -webkit-animation: menu-animation 0.8s ease-out forwards;
    animation: menu-animation 0.8s ease-out forwards;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    padding: 6px 20px;
    font-size: 48px;
  }
  
  /* ----- LEFT MENU ----- */
  ul.menu {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    color: white;
  }
  
  ul.menu li,
  ul.menu2 li {
    opacity: 0;
    text-align: center;
    transform: translate3d(0, 36px, 0);
  }
  
  ul.menu li:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    left: auto;
    background-color: #ff914d;
    height: 100%;
    width: 0;
    overflow: hidden;
    transition: width 0.14s ease-out;
  }

  ul.menu li:after {
    opacity: 0;
    content: attr(data-text);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #f8e360;
    overflow: hidden;
    transform: translate(-24px, 6px);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  }

  
ul.menu li:hover:before,
ul.menu2 li:hover:before {
  left: 0;
  right: auto;
  width: 100%;
}

ul.menu li:hover:after,
ul.menu2 li:hover:after {
  opacity: 1;
  padding: 0 20px;
  transform: translate(0px, 6px);
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
}

.open ul.menu li,
.open ul.menu2 li {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.open ul.menu li:nth-child(1),
.open ul.menu2 li:nth-child(1) {
  transition-delay: 0.75s;
}

.open ul.menu li:nth-child(2),
.open ul.menu2 li:nth-child(2) {
  transition-delay: 0.85s;
}

.open ul.menu li:nth-child(3),
.open ul.menu2 li:nth-child(3) {
  transition-delay: 0.95s;
}

.open ul.menu li:nth-child(4),
.open ul.menu2 li:nth-child(4) {
  transition-delay: 1.05s;
}

.open ul.menu li:nth-child(5),
.open ul.menu2 li:nth-child(5) {
  transition-delay: 1.15s;
}

.menu2_info_li {
  font-size: 1.3em;
}

/*  */
/* ----- RIGHT menu ----- */
/*  */
ul.menu2 {
  position: fixed;
  top: 52%;
  left: 75%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000;
  color: rgb(22, 8, 48);
}

.menu_icons {
  display: inline-flex;
}

.test {
  height: 200px;
}

.menu2_info {
  width: max-content;
  text-align-last: start;
}

.menu2icon {
  padding-right: 10px;
}

.fab:hover,
.menu2_info_li:hover {
  color: #ff914d;
}

/*  */
a,
li {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: #144b4f;
}
a:hover {
    color: #ff914d;
}

.navbar-brand {
  color: #ff914d;
}

/*  */
#portH1 {
  color: #144b4f;
  font-family: 'Calistoga', cursive;
  font-size: 2.4rem;
  text-align-last: center;
  padding: 60px 0px 60px 62px;
}
#nameSpan {
  color: #ff914d;
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
  margin-left: 5px;
}
/* ******************************** */

p {
  color: cornsilk;
  background: #f6c5ee21;
    box-shadow: 2px 4px 5px #554c498c;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
          padding-bottom: 20px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #233f54 0%,#fbba38 100%);
  font-size: 1.2rem;
  font-family: 'Dosis', sans-serif;
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .4;
    background-color: rgba(0, 0, 0, 0.548);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#span1, #span2 {
  margin: 10px;
  font-family: 'Dosis', sans-serif;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  padding-top: 10px;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #ff914d;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

/* .front .inner span{
  color: rgb(253, 206, 53);
  font-family: 'Montserrat';
  font-weight: 300;
} */

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/* ****************************** */
#svgMeBottom{
  height: 375px;
  display: inline-flex;
  float: right;
  margin: -263px -8px 0px -263px;
}
  /* *****FOOTER***** */
#footer {
  background-color: #ff914d;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  height: 7em;
  padding-top: 4%;
  
}
  

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8e360;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff914d";
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #144b4f;
}
 
   /**************************************************  */

  @-webkit-keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
  
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
  
    40% {
      transform: scale(0.04) translateY(0);
    }
  
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
  
    61% {
      transform: scale(0.04);
    }
  
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
  
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }
  
  @keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
  
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
  
    40% {
      transform: scale(0.04) translateY(0);
    }
  
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
  
    61% {
      transform: scale(0.04);
    }
  
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
  
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }
  
  @media only screen and (max-width: 850px) {
    .drawnMe {
      height: 85%;
      top: 12em;
      position: absolute;
      z-index: 10;
    }
  }