
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: rgb(252,252,252);
  background: linear-gradient(90deg, rgba(252,252,252,1) 11%, rgba(254,252,252,1) 61%, rgba(255,255,255,1) 94%);
}

/* ----- NAV ----- */
button {
  opacity: 0.6;
  background-color: transparent;
  position: fixed;
  z-index: 200;
  top: 24px;
  left: 24px;
  border: none;
  width: 36px;
  height: 30px;
  outline: none;
  transition: opacity 0.2s ease-out;
}
button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: auto;
  width: 100%;
  background: linear-gradient(to bottom, #f8e360, #f8e360 20%, transparent 20%, transparent 40%, #f8e360 40%, #f8e360 60%, transparent 60%, transparent 80%, #f8e360 80%, #f8e360 100%);
  transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
}
button:after {
  opacity: 0;
  content: "×";
  color: white;
  position: absolute;
  top: 16px;
  left: -4px;
  font-family: Arial, sans-serif;
  font-size: 76px;
  line-height: 0;
  transition: opacity 0.4s ease-out;
}
button:active {
  transform: translateY(2px);
}
button:hover {
  opacity: 1;
}
.open button {
  opacity: 1;
}
.open button:before {
  opacity: 0;
  width: 0;
}
.open button:after {
  opacity: 1;
  transform: translate3d(0, 0, 0) rotate(360deg);
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
}

nav {
  z-index: 100;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}
nav:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgb(248,227,96);
background: linear-gradient(90deg, rgba(248,227,96,1) 50%, rgba(255,255,255,1) 50%);
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  transform: scale(0.04), translateY(9999px);
  overflow: hidden;
}
.open nav {
  top: 0;
}
.open nav:before {
  -webkit-animation: menu-animation 0.8s ease-out forwards;
          animation: menu-animation 0.8s ease-out forwards;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  padding: 6px 20px;
  font-size: 48px;
}

/* ----- LEFT MENU ----- */
ul.menu {
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000;
  color: white;
}
ul.menu li,  ul.menu2 li {
  opacity: 0;
  text-align: center;
  transform: translate3d(0, 36px, 0);
}
ul.menu li:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  left: auto;
  background-color: #ff914d;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0.14s ease-out;
}
/* ul.menu2 li:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  left: auto;
  background-color: #f8e360;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0.14s ease-out;
} */
ul.menu li:after {
  opacity: 0;
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #f8e360;
  overflow: hidden;
  transform: translate(-24px, 6px);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}
/* ul.menu2 li:after {
  opacity: 0;
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #ffffff;
  overflow: hidden;
  transform: translate(-24px, 6px);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
} */
ul.menu li:hover:before, ul.menu2 li:hover:before {
  left: 0;
  right: auto;
  width: 100%;
}
ul.menu li:hover:after, ul.menu2 li:hover:after {
  opacity: 1;
  padding: 0 20px;
  transform: translate(0px, 6px);
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
}
.open ul.menu li, .open ul.menu2 li {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.open ul.menu li:nth-child(1), .open ul.menu2 li:nth-child(1) {
  transition-delay: 0.75s;
}
.open ul.menu li:nth-child(2), .open ul.menu2 li:nth-child(2) {
  transition-delay: 0.85s;
}
.open ul.menu li:nth-child(3), .open ul.menu2 li:nth-child(3) {
  transition-delay: 0.95s;
}
.open ul.menu li:nth-child(4), .open ul.menu2 li:nth-child(4) {
  transition-delay: 1.05s;
}
.open ul.menu li:nth-child(5), .open ul.menu2 li:nth-child(5) {
  transition-delay: 1.15s;
}
.menu2_info_li {
  font-size: 1.3em;
}

/*  */
/* ----- RIGHT menu ----- */
/*  */
ul.menu2 {
  position: fixed;
  top: 52%;
  left: 75%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000;
  color: rgb(22, 8, 48);
}
.menu_icons {
    display: inline-flex;
}
.test{
  height: 200px;
}
.menu2_info {
      width: max-content;
      text-align-last: start;
}
.menu2icon {
    padding-right: 10px;
}
.fab:hover, .menu2_info_li:hover {
  color: #ff914d;
}
/*  */


/* END --- Menu */

/*  */
a, li {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color:#144b4f;
}
.navbar-brand {
  color: #ff914d;
}
/*  */
h1 {
  color: #144b4f;
  font-family: 'Calistoga', cursive;
  font-size: 4rem;
  /* padding: 40px 0 40px 20%;
  margin-bottom: 50px; */
}
/* SECTIONS' GRIDS */
.image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  /* grid-template-rows:  */
}
/* HOME-SECTION */
#home-section {
  margin-top: -100px;
}
.home-h2 {
  padding: 60% 0 2% 0;
  font-family: 'Dosis', sans-serif;
  color: #ff914d;
}

.image-stack__item--top {
  grid-column: 7 / span 5;
  grid-row: 1;
  padding-top: 20%;
  z-index: 1;
}
.image-stack__item--bottom {
  grid-column: 7 / span 6;
  background-color: #f8e360;
  grid-row: 1;
}
.h1h2-div {
  grid-column: 1 / span 5;
  grid-row: 1;
  /* padding: 40% 0 0 0; */
  text-align: end;
}

/* .section {
  overflow: hidden;
} */

/* ABOUTME-SECTION */
.about-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
/* #aboutMe-section {
  background-color: cadetblue;
} */
.about-stack__item--top {
  grid-column: 2 / span 4;
  grid-row: 1;
  padding-top: 20%;
  z-index: 1;
  align-self: center;
}
.about-stack__item--bottom {
  grid-column: 1 / span 6;
  grid-row: 1; 
  padding-top: 10%;
}
.about-stack__item--top2 {
  grid-column: 8 / span 3;
  grid-row: 1; 
  z-index: 2;
  align-self: center;
}
.about-stack__item--bottom2 {
  grid-column: 7 / span 6;
  grid-row: 1;
  padding-top: 20%;
  z-index: -1;
  background-color: #f8e360;
}
.aboutMe-text {
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
}
.aboutMe-h2 {
  color: #144b4f;
  font-size: calc(5.325rem + .9vw);
  font-family: 'Calistoga', cursive;
  padding: 160px 0 15px 0;

}
#resumeLink {
  font-size: calc(2.325rem + .9vw);
  font-family: 'Dosis', sans-serif;
  color: #ff914d;
}

/* PORTFOLIO-SECTION */
/* #portfolio-section {
  background-color: thistle;
} */
.myWork-h2 {
  font-size: calc(5.325rem + .9vw);
  font-family: 'Calistoga', cursive;
  color: #144b4f;
}
.portfolio-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
.portfolio-stack__h2div {
  grid-column: 2 / span 4;
  grid-row: 1;
  align-self: center;
}
.portfolio-stack__pdiv {
  grid-column: 2 / span 4;
  grid-row: 1;
  align-self: end;
}
.portfolio-stack__item--top {
  grid-column: 8 / span 4;
  grid-row: 1; 
  z-index: 2;
  align-self: center;
}
.portfolio-stack__item--bottom {
  grid-column: 7 / span 6;
  grid-row: 1;
  z-index: 1;
  background-color: #f8e360;
}
.portfolioLinkImg {
  width: 100%;
  margin: 40% 0;
  box-shadow: 3px 3px 6px 0px #a6884c;
}
.portfolioLinkImg:hover {
  box-shadow: 5px 5px 11px 2px #504608;
}

/* CONTACT-SECTION */
#contact-section {
  height: 400px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  line-height: 25px;
}
.testingIMG {
  grid-column: 1 / span 4;
  height: inherit;
  display: inline-block;
  transform: rotateY(180deg);
}
.portfolio-stack__item--top {
  grid-column: 8 / span 4;
  grid-row: 1; 
  z-index: 2;
  align-self: center;
}
.contact-stack__item--bottom {
  grid-column: 7 / span 6;
  grid-row: 1;
  z-index: 1;
  background-color: #f8e360;
}

.contact-me-h2 {
  font-size: calc(3.325rem + .9vw);
  font-family: 'Calistoga', cursive;
  color:#144b4f;
}
.contact-pinfo {
  font-size: 1.8rem;
  font-family: 'Dosis', sans-serif;
  color:#144b4f;
}
.p-icons {
  display: inline-flex;
  letter-spacing: 45px;
  font-size: 3rem;
}

/* FOOTER */
#footer {
  background-color: #ff914d;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  height: 5em;
}
a:hover {
  color: #eaa989;
}

/*  */
@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@media only screen and (max-width: 850px) {
    .drawnMe {
        height: 85%;
        top:12em;
        position: absolute;
        z-index: 10;
    }
}